:root {
    --nav-width: 200px;
    --options-indent: 50px;
}


body {
    font-family: sans-serif,Verdana;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

.inherit {
    color: inherit;
    text-decoration: inherit;
}

.main {
    margin-left: var(--nav-width);
    min-width: 600px;
    padding: 0px 28px;
}

.header {
    background-color: #AACCFF;
    color: #222233;
    width: 100%;
    padding: 2px 16px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.14), 0 2px 10px 0 rgba(0,0,0,0.08);
}

.header a:link {
    color: inherit;
}

.header a:visited {
    color: inherit;
}

.header a:hover {
    color: inherit;
}


.grid {
    display: grid;
    margin-bottom: 24px;
    grid-gap: 10px;
}
.grid > .left {
    grid-column: 1 / 1;
}
.grid > .right {
    grid-column: 2 / 2;
}

/**/
kbd {
    font-family: Courier New, Courier;
    font-size: 115%;
}

.dim {
    color: #AAAAAA;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table.dict {
    /* float: center; */
    width: 250px;
    table-layout: fixed;
    border-collapse: collapse;
}
table.dict, table.dict th, table.dict td {
    border: 1px solid black;
    text-align: center;
    font-family: Courier New, Courier;
    font-weight: 600;
}


a:link {
    color: #000088;
}

a:visited {
    color: #000066;
}

a:hover {
    color: #0000CC;
}

ul.options {
    list-style-type: none;
    padding-left: 0;
    margin-left: 2em;
}

ul.options li {
    margin: .4em 0;
}

ul.options li span {
    float: left;
    width: var(--options-indent);
}

ul.options li > div {
    margin-left: var(--options-indent);
}

/******************************************************************************/
/* Nav-bar styles */

nav.vertical ul {
    border-radius: 6px;
    list-style-type: none;
    background-color: #AACCFF;
    margin: 12px 8px;
    padding: 0;
    width: var(--nav-width);
    position: absolute;
    overflow: auto;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.10), 2px 1px 10px 0 rgba(0,0,0,0.06);
    line-height: 1.1;
}

nav.vertical ul li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

nav.vertical ul li a:link {
    color: inherit;
}
nav.vertical ul li a:visited {
    color: inherit;
}

nav.vertical ul li a:hover {
    background-color: #99BBFF;
    color: inherit;
}

nav.vertical ul li a.activePage {
    background-color: #001177;
    color: white;
}
